.background{
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background:url('/img/homebg.jpeg');
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
}
.ferry{
  padding: 300px 0px 0px 300px;
  font-size: 70px;
  margin-left: -70px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}
.Form{
  padding: 0px 0px 0 0px;
}


@media screen and (max-width: 1100px) {
  .Form{
    padding: 380px 100px 0 100px;
  }
  .ferry{
    display: none;
  }
}






@media screen and (max-width: 900px) {
  .Form{
    padding: 380px 0px 0 0px;
    
  }
}


@media screen and (max-width: 786px) {
  .Form{
    padding: 200px 0px 0 0px;
  }
}